.bgcover{
    background: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.7)), 
                url('/img/bgcover.jpg') no-repeat center center;
    background-size: cover;
    .bgcover__title {
        z-index: 3;
            h2{
                font-family: 'Heebo', sans-serif;
                font-size: 80px;
                font-weight: 200;
            }
    }
    .bgcover__text {
        z-index: 3;
        h4{
            font-family: 'Heebo', sans-serif;
            // font-size: 80px;
            font-weight: 200;
        }
    }
}

.bgcover::after{
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: 0.4;
}

@media (max-width:768){ 



    
}