/* HEADER SECTION  */

.header {
  padding: 30px;
  max-width: 1350px;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  z-index: 1;
}

.menu {
  padding-left: 20px;
}

.menu li {
  display: inline-block;
  margin-top: 10px;
}

.menu li a {
  display: block;
  padding: 15px;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .cta {
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: -100%;
    background: #000;
    height: 100vh;
    padding-top: 120px;
  }

  .menu li {
    display: block;
  }

  .menu li a {
    padding: 15px 30px;
    font-size: 20px;
  }

  .menu--open {
    right: 0%;
  }

  .hamburger {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 60px;
    right: 30px;
  }

  .hamburger span {
    background: #fff;
    width: 100%;
    height: 3px;
    display: block;
    margin-bottom: 5px;
  }
}

/* Hero  */

.hero {
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("/img/cover.png") no-repeat center center;
  background-size: cover;
}

.hero__content {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 30px;
}

/* POSTER SECTION  */

.poster__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.bgcover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/cover.png") no-repeat center center;
  background-size: cover;
}

/* helpers  */

.m-top1 {
  margin-top: 3.125rem;
}

.m-top2 {
  margin-top: 6.25rem;
}

.m-top3 {
  margin-top: 9.375rem;
}

.p-top1 {
  padding-top: 3.125rem;
}

/* 5OPX */

.p-top2 {
  padding-top: 6.25rem;
}

/* 100PX  */

.p-top3 {
  padding-top: 9.375rem;
}

/* 150PX  */

.p-bott1 {
  padding-bottom: 3.125rem;
}

/* 5OPX */

.p-bott2 {
  padding-bottom: 6.25rem;
}

/* 100PX  */

.p-bott3 {
  padding-bottom: 9.375rem;
}

/* 150PX  */

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: #F7F0F5;
  color: #fff;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  color: #fff;
  padding-bottom: 30px;
}

p {
  line-height: 20px;
  color: #4e4e4e;
  font-weight: 400;
}

.big-text {
  font-size: 70px;
  font-weight: 900;
}

.med-text {
  font-size: 40px;
}

.normal-text {
  font-size: 20px;
}

.small-text {
  font-size: 14px;
}

.intro-text {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.button {
  padding: 9px 28px;
  background: #dda704;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .big-text {
    font-size: 40px;
  }
}
